#h1main{
    position: absolute;
    width: 341px;
    height: 21px;
    left: 30px;
    top: 5px;   
    z-index: 9999;
    font-family: 'Poppins';
    }
#title1{
    position: absolute;
    width: 341px;
    height: 21px;
    left: 30px;
    top: 80px;   
    z-index: 9999;
    font-family: 'Poppins';
    }
.rectangle {
    position: absolute;
    width: 100%;
    height: 95px;
    left: 0px;
    top: 0px;
    background: #C4C4C4;
    }
#ul1{
    list-style-type: none;
    position: absolute;
    width: 1200px;
    height: 30px;
    left: 180px;
    top: -5px;
    background: #C4C4C4;
    padding: 20px;
    }
#ulli1 {
    display:inline;
    background: #C4C4C4;
    padding: 5px;
    margin: 20px;
    font-size: 30px;
    font-family: 'Poppins';
    }
#ulli1:hover{
    background: #808080;    
    }
a{
        text-decoration: none;
        color: black;
    }
@media screen and (max-width: 480px){
    #ul1{
        height: 200%;
    }
    .rectangle{
        width: 200%;
    }
}