@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;1,100;1,200&family=Roboto&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color:  #E0E0E0;
    justify-content: center;

}

#menu ul {
    list-style: none;
    border: none;
}

#menu li {
    position: relative;
    border-right: none;
}

#menu li a {color: black; text-decoration: none; padding: 5px 10px; display: block;}


#menu li a:hover{
    background:rgb(114, 42, 42); 
    color:#fff; 
    text-shadow:0px 0px 5px #fff; 
}

h1 {
    font-size: 20px;
    margin: 10px;
}

header, #menu, #menu ul{
    background-color: #C4C4C4;
    width: 100%;
    display: flex;
}

#menu{
   flex: 1; /* isto é para a nav ocupar a largura toda menos a logo */
   justify-content: center; /* alinha horizontalmente */
   align-items: center; /* alinha verticalmente */
}

.textoAcompanhamento{
    position: relative;
    top: 35px;
    width: 100%;
    justify-content: center;
}
p{
    font-size: 20px;
    text-align: center;
}
    

h2 {
    font-size: 40px;
    font-style: normal;
    text-align: center;
}

fieldset {
    border: none;
}

.box {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 70px;
}
.box2 {
    background-color: #e6d0ba;
    padding: 30px;
    border-radius: 14px;
    box-shadow: 4px 4px 4px rgba(68, 75, 84, 0.62);
    
}

.campo, .campo2, .campo3, .campo4 {
    display: flex;
    justify-content: center;
    margin-bottom: 12px;
    
}

.campo label, .campo2 label, .campo3 label .campo4 label, .campo5 label{
    margin-bottom: 0.3em;
    display: inline;
    margin-top: 12px;
    margin-left: 12px;
}

input{
    width: 130px;
    height: 40px;
    padding-left: 5px;
    margin-bottom: 10px;
    margin-left: 6px;
    border: none;
    border-radius: 10px;
    display: inline-block;
    outline: none;
}
select {
    display: inline-block;
    height: 40px;
    padding-left: 8px;
    margin-left: 6px;
    margin-right: 12px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #ffffff;
}

button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 180px;
    height: 40px;
    border-radius: 20px;
    border: none;
    text-decoration: none;
    font-size: 18px;

    background-color: #444B54;
    color: #ffffff;
    cursor: pointer;
    transition: transform 200ms ease-in
}

button:hover {
    transform: scale(1.05)

}